body {
    background-color: black;
}

.container {
    background-color: black;
}

.min-tabs {
    margin-top: 5%;
}

#content {
    border-radius: 0 0 5px 5px;
    border-color: white;
    border-width: 0 1px 1px;
    border-style: solid;
    background-color: #212529;
}

.navbar {
    margin-bottom: 0;
    background-color: #212529;
    z-index: 9999;
    border: 0;
    font-size: 13px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a,
.navbar .navbar-brand .navbar-footer,
a {
    color: #fff !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a,
.affix li a:hover,
.affix li.active a,
.affix-top li a:hover,
.affix-top li.active a {
    color: #212529 !important;
    background-color: #fff !important;
}

.open .dropdown-toggle {
    background-color: #212529 !important;
    z-index: 9999 !important;
}

.dropdown-menu {
    background-color: #212529;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.row {
    margin: 10px;
}

#about p {
    margin: 10px;
    color: #fff !important;
}

.pagination li a {
    background-color: #212529 !important;
}

.pagination li.active a {
    background-color: #fff !important;
    color: #212529 !important;
}

.embedTitle {
    color: #fff !important;
}

#pnf {
    color: #fff !important;
}

.nav-tabs li {
    width: 33%;
}

.nav-tabs li a:hover,
.nav-tabs li.active a {
    background-color: #212529 !important;
}

.contact-us-form,
#about,
#pageNF,
.login-form,
.registration-form {
    margin-top: 5%;
    border-radius: 5px 5px 5px 5px;
    border-color: white;
    border-width: 1px 1px;
    border-style: solid;
    background-color: #212529;
    padding: 15px;
    color: #fff !important;
}

.contact-us-form h2 {
    padding-bottom: 15px;
}

.row span,
#content h1,
#dashboard h1,
#dashboard h2 {
    color: #fff;
}

#content h1 span,
#dashboard h1 span,
#dashboard h2 span,
#showRelVidSpan,
#videoData span {
    background-color: #3b3b05;
}

#videoData,
#likes {
    color: #fff !important;
}

.glyphicon-thumbs-up,
.glyphicon-thumbs-down {
    font-size: 150%;
}

.menuaffix {
    padding: 5px;
    top: 70px !important;
    /*z-index: 9999 !important;*/
    left: 10%;
    border-radius: 5px 5px 5px 5px;
    border-color: white;
    border-width: 1px 1px;
    border-style: solid;
    list-style-type: none;
    background-color: #212529;
    font-size: 13px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
}

#juicyAffix {
    padding: 0px;
    top: 70px !important;
    /*z-index: 9999 !important;*/
    left: 80%;
    background-color: transparent;
}

#favc,
#favv,
#like,
#dislike {
    color: #fff;
    cursor: pointer;
}

#favcsaved,
#favvsaved,
#liked,
#disliked {
    color: #000000;
    cursor: pointer;
}

#dashboard {
    margin-top: 5%;
    border-radius: 5px 5px 5px 5px;
    border-color: white;
    border-width: 1px 1px;
    border-style: solid;
    background-color: #212529;
}

.carousel-indicators {
    bottom: -25px;
}

#relatedVidCarousel {
    margin-bottom: 50px;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.60);
    width: 90%;
    left: 5%;
    max-height: 30%;
    padding-top: 0;
}

.carousel-caption a,
.carousel-caption a:hover {
    background-color: transparent;
    border-color: transparent;
}

.popover-title {
    color: #fff;
    background-color: #212529 !important;
}

.checkbox .popover {
    width: 200%;
}

.popover-content {
    color: #212529 !important;
}

.input-group-addon {
    color: #fff;
    background-color: #212529;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
}

.dbLikeDisabled {
    cursor: not-allowed;
}

.modal {
    margin-top: 5%;
}

.modal-backdrop {
    opacity: 0.95 !important;
}

#search {
    margin-top: 0.5%;
    margin-left: 1%;
}

.navbar-right {
    margin-top: -0.5% !important;
}

.affix-bottom {
    visibility: hidden;
    /*padding: 5px;
bottom: 280% !important;
z-index: 9999 !important;
left: 11%;
border-radius: 5px 5px 5px 5px;
border-color: white;
border-width: 1px 1px;
border-style: solid;
list-style-type: none;
background-color: #212529;
font-size: 13px !important;
line-height: 1.42857143 !important;
letter-spacing: 4px;*/
}

.exoAdPicRow {
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alert-info {
    background-color: #4a95db;
    color: #fff;
}

#searchTooltip+.tooltip>.tooltip-inner {
    min-width: 150px !important;
}

#closead {
    background-color: #fff;
}

#footerLinks p {
    margin: 0 !important;
}

@media (min-width: 767px) {
    .login-form {
        min-width: 450px;
        max-width: 500px;
    }
}

@media (max-width: 767px) {
    #juicyAffix {
        left: 40%;
    }
}

@media (max-width: 1280px) {
    .affix {
        z-index: 9999 !important;
    }
    .modal {
        margin: 10%;
    }
    .min-tabs {
        margin-top: 15%;
    }
}

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    /*.navbar-collapse.collapse {
        display: none !important;
    }*/
    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
}